<div class="grid gap-2">
  <Label for="{{ field.name }}">{{ field.name | pascal_case }}</Label>
  <Input
    id="{{ field.name }}"
    name="{{ field.name }}"
    type="date"
    {% if field.required %}required{% endif %}
    {...form.register("{{ field.name }}")}
  />
  <FormMessage />
</div>
