{{ "import { useMutation, useQueryClient } from '@tanstack/react-query'" | collect_import }}

export function use{{ name | pascal_case }}Mutation() {
  const queryClient = useQueryClient();
  
  return useMutation({
    mutationFn: {{ server_fn }},
    onSuccess: () => {
      queryClient.invalidateQueries({ queryKey: ['{{ query_key }}'] });
    },
  });
}
