{% extends "layouts/base.jinja" %}
{% block body %}
{% with providers=providers, session_fields=session_fields, email_verification=email_verification %}
{% include "molecules/auth/config_block.jinja" %}
{% endwith %}
{% endblock %}
