{% extends "layouts/route.jinja" %}
{% block loader %}
loader: ({ context: { queryClient } }) => {
  return queryClient.ensureQueryData({{ name }}QueryOptions());
},
{% endblock %}
{% block body %}
{% with name=name %}
<{{ name | pascal_case }}Table />
{% endwith %}
{% endblock %}
