{% extends "layouts/base.jinja" %}
{% block body %}
{% for operation in operations %}
{% with name=name, table=table, operation=operation, auth=auth, input=input %}
{% include "molecules/server_fn/handler.jinja" %}
{% endwith %}
{% endfor %}
{% endblock %}
