{% if field.type == "string" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.string(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "number" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.number(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "boolean" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.boolean(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "date" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.date(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "id" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.string().uuid(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "enum" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.enum([{% for v in field.values %}"{{ v }}"{% if not loop.last %}, {% endif %}{% endfor %}]){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "json" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.object({}).passthrough(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "decimal" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.number(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "email" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.string().email(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "url" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.string().url(){% if field.required %}{% else %}.optional(){% endif %},
{% elif field.type == "password" %}
{{ "import { z } from 'zod'" | collect_import }}
  {{ field.name }}: z.string().min(8){% if field.required %}{% else %}.optional(){% endif %},
{% endif %}
