{{ "import { useForm } from '@tanstack/react-form'" | collect_import }}
{{ "import { Button } from '@/components/ui/button'" | collect_import }}
{{ "import { Input } from '@/components/ui/input'" | collect_import }}
{{ "import { Label } from '@/components/ui/label'" | collect_import }}
{{ "import { {{ name | pascal_case }}Schema } from '@/lib/schemas/{{ name }}" | collect_import }}

export function {{ name | pascal_case }}Form({ onSubmit }: { onSubmit: (values: any) => void }) {
  const form = useForm({
    defaultValues: {
      {% for field in fields %}
      {{ field.name }}: '',
      {% endfor %}
    },
    validators: {
      onChange: {{ name | pascal_case }}Schema,
    },
  });

  return (
    <form
      onSubmit={(e) => {
        e.preventDefault();
        form.handleSubmit(onSubmit)();
      }}
    >
      {% for field in fields %}
      {% if field.type == 'boolean' %}
      {% include "atoms/form/field_switch.jinja" %}
      {% elif field.type == 'date' %}
      {% include "atoms/form/field_datepicker.jinja" %}
      {% elif field.type == 'enum' or field.type == 'id' %}
      {% include "atoms/form/field_select.jinja" %}
      {% elif field.type == 'string' and field.name contains 'description' or field.name contains 'content' %}
      {% include "atoms/form/field_textarea.jinja" %}
      {% else %}
      {% include "atoms/form/field_input.jinja" %}
      {% endif %}
      {% endfor %}
      
      <Button type="submit">Submit</Button>
    </form>
  );
}
